{% extends "global/Page.html" %}
{% load otree %}

{% block title %}

{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}"/>

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

    <!-- define a style -->
    <style type="text/css">
        .div-a {
            float: left;
            width: 55%;
        {#border: 1px solid #F00#}
        }

        .div-b {
            float: right;
            width: 40%;
        {#border: 1px solid #000#} font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
            font-size: x-large;
            line-height: 30px;
            letter-spacing: 5px;
        }


    </style>


{% endblock %}

{% block content %}

    {% if regrouped %}
        <h4 style="color:Red;"> Rematched</h4>
    {% endif %}

    <h3> Round: {{ player.round_number }}</h3>

    <h2> Your Choice </h2>

    <div class="div-a">
        <div class="form-group required">
            <table class="table table-bordered text-center" style="width: auto; margin: auto">
                <tr>
                    <th colspan="2" rowspan="2"></th>
                    <th colspan="2">The Other Participant</th>
                </tr>
                <tr>
                    <th>Cooperate</th>
                    <th>Defect</th>
                </tr>
                <tr class="highlight-row-on-hover">
                    <th rowspan="2"><span class="rotate90">You</span></th>
                    <td>
                        <button name="decision" value="Cooperate" class="btn btn-primary btn-large">I will cooperate
                        </button>
                    </td>
                    <td>{{ Constants.both_cooperate_payoff }}, {{ Constants.both_cooperate_payoff }}</td>
                    <td>{{ Constants.betrayed_payoff }}, {{ Constants.betray_payoff }}</td>
                </tr>
                <tr class="highlight-row-on-hover">
                    <td>
                        <button name="decision" value="Defect" class="btn btn-primary btn-large">I will defect</button>
                    </td>
                    <td>{{ Constants.betray_payoff }}, {{ Constants.betrayed_payoff }}</td>
                    <td>{{ Constants.both_defect_payoff }}, {{ Constants.both_defect_payoff }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="div-b" id="info"></div>

    <table class="table">
        <tr>
            <th>Round</th>
            <th>You Choice</th>
            <th>Partner's Choice</th>
            <th>Payoff</th>
            <th>Total Payoff</th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>{{ p.decision }}</td>
                <td>{{ p.partner_decision }}</td>
                <td>{{ p.payoff }}</td>
                <td>{{ p.total_payoff }}</td>

            </tr>
        {% endfor %}
    </table>
    </div>

{% endblock %}
