{% extends "preference_separation/PageBase.html" %}
{% load staticfiles otree %}

{% block styles %}

    <!-- define a style -->
    <style type="text/css">
        input[type='text'] {
            font-size: 24px;
        }

    </style>



{% endblock %}
{% block scripts %}

    <!-- define a script -->
    <script>


        var dict_01 = {{ Constants.dict_01|json }};
        var dict_02 = {{ Constants.dict_02|json }};
        var dict_03 = {{ Constants.dict_03|json }};
        var dict_practice = {{ Constants.dict_p|json }};

        var dict_real = null;
{#        var dict_real = {% block used_dict %}{% endblock %};#}
        var n = 0;

{#        var dict_practice = {{ Constants.words_numbers_03|json }};#}

        var words_real = null;
        var words_practice = null;

        var candidate = null;
        var right_number = 0;

        var i = 0;
        
        var total = 0;
        var correct = 0;

        var is_debug = {{  session.vars.is_debug |yesno:"true,false" }};

        var is_practice= {% block is_practice %}false{% endblock %};
        var practice_counter = 0;

        window.onload = function(){

            document.getElementById("hidden_block").style.visibility="hidden";

            lockPageElements('number');

            dict_real = {% block used_dict %}{% endblock %};


            words_real = Object.keys(dict_real);

            words_practice = Object.keys(dict_practice);

            n = words_real.length;

            //document.getElementById("test").innerHTML = words_real;


            if(is_debug){
                document.getElementById("debug_block").innerHTML =
                    "<div class=\"panel panel-default\">" +
                    "<div class=\"panel-heading\">内部数据</div>"+
                    " <p> 答案：</p>\n" +
                    "        <p id=\"cheat\"></p>\n" +

                    "        <br>\n" +

                    "        <p>总数: </p>\n" +
                    "        <p id=\"ui_total\">0</p>\n" +

                    "        <p>答对数量: </p>\n" +
                    "        <p id=\"ui_correct\">0</p>\n" +

                    "        <br>" +
                    "</div>"
            }

            pickOne();
        };


        function pickOne()
        {
            if(!is_practice){

                i = Math.floor(n*Math.random());
                candidate = words_real[i];
                right_number = dict_real[candidate];
            }else{
                i = practice_counter;
                practice_counter ++;
                candidate = words_practice[i];
                right_number = dict_practice[candidate];
            }


            if(is_debug){
                document.getElementById("cheat").innerHTML= candidate + " : "+ right_number;
            }

            document.getElementById("word").innerHTML = candidate;
        }

        function feedback_flash(){
            document.getElementById('feedback').style.backgroundColor = "LAVENDER";
            setTimeout(function(){ document.getElementById('feedback').style.backgroundColor = "white" }, 200);
        }

        function ok(){

            total ++ ;
            if(is_debug) {
                document.getElementById("ui_total").innerHTML = total;
            }
            document.getElementById("id_total").value = total;

            if(document.getElementById('number').value == right_number){
                correct ++;
                if(is_debug) {
                    document.getElementById("ui_correct").innerHTML = correct;
                }
                document.getElementById("id_correct").value = correct;



                document.getElementById('feedback').style.color = "green";
                document.getElementById('feedback').innerHTML = "回答正确！";

                if(is_practice & practice_counter == 8){
                    feedback_flash();
                    document.getElementById('fake_next').click();
                    return;
                }

                 pickOne();

            }else{
                document.getElementById('feedback').style.color = "red";
                document.getElementById('feedback').innerHTML = "回答错误！再试一次？";

            }

            feedback_flash();
            document.getElementById('number').focus();
            document.getElementById('number').value = "";
        }


    </script>


{% endblock %}

{% block title %}
    查找数字
{% endblock %}

{% block content %}

    <p>请把汉字对应的数字输入框内，输入完毕后请按确定键。</p>

    <p id = "test"></p>
    <br>
    <h4>请查找：</h4>
    <h1 id="word"></h1>
    <br>

    <h4>对应的数字是：</h4>
    <input type="text" name="number" id="number" size="5" autocomplete="off"
        onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
        onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
        onkeydown="if(event.keyCode==13){ok();return false;}"
    >

    <input type="hidden" value="确定" onClick="ok()">

    <br><br>


    <!-- <h1 id="result"></h1> -->

    <H4>回答的结果是：</H4>
    <H1 id="feedback"></H1>



    <p id="debug_block"></p>


    <input type="hidden" name={% block name_input_total %}{% endblock %} value="0" id="id_total"/>
    <input type="hidden" name={% block name_input_correct %}{% endblock %} value="0" id="id_correct"/>

    <div id="hidden_block">
       <button id = "fake_next" class="btn btn-primary btn-large">下一页</button>
    </div>


{% endblock %}

