{% extends "preference_separation/__PageBase.html" %}
{% load staticfiles otree %}

{% block title %}
    实验流程介绍
{% endblock %}

{% block content %}

    <p>那我们要正式开始玩游戏了。</p>

    <p>看汉字查数字游戏一共有三轮，每一轮游戏的玩法是不一样的，
        在每一轮游戏前，我会具体给大家说明每一轮的玩法和得分方法。</p>

    <p>
        每轮游戏中，你得到的分数由你的表现决定。
        在三轮游戏都完成之后，电脑上会出现这三轮的结果，并且最后电脑会抽取其中的某一轮作为你的最终得分。
        你每得<b>1分</b>，就可以换<b>1毛钱</b>。
    </p>

    <p>
        同时每一轮的汉字表是不一样的，现在请把手上的汉字表交给旁边的老师。

    </p>



{% endblock %}