{% extends "informal_authority/PageBase.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}


{% block scripts %}

    <!-- define a script -->
    <script>

        function feedback_flash() {
            document.getElementById('feedback').style.backgroundColor = "LAVENDER";
            setTimeout(function () {
                document.getElementById('feedback').style.backgroundColor = "white"
            }, 200);
        }

        function check() {


            var ans11 = (document.getElementById('q11').value);
            var ans12 = (document.getElementById('q12').value);
            var ans21 = (document.getElementById('q21').value);
            var ans22 = (document.getElementById('q22').value);
            var ans31 = (document.getElementById('q31').value);
            var ans32 = (document.getElementById('q32').value);
            var ans41 = (document.getElementById('q41').value);
            var ans42 = (document.getElementById('q42').value);

            var error_message = "";

            if (ans11 == 500 & ans12 == 200 &
                ans21 == 200 & ans22 == 500 &
                ans31 == 0 & ans32 == 0 &
                ans41 == 0 & ans42 == 0) {
                document.getElementById("fake_next").click();

            } else {
                error_message = "你的回答不正确，请返回重新理解任务说明。";
                document.getElementById("feedback").innerHTML = error_message;
                feedback_flash();
            }

        }

    </script>


{% endblock %}

{% block content %}

    <p>在这一阶段，你的身份是“<b>{{ label_self }}</b>”，他的身份是“<b>{{ label_partner }}</b>”。</p>
    <p>和他都有两个选择：X和Y。你们在做选择的时候，不能观察到对方的选择。
        一旦你和他都做出了选择，你们选择结果将在屏幕上显示出来。
        如果一方选择了X而另一方选择了Y，则协作成功；
        这种情况下，选择X的一方将获得500个实验币，选择Y的一方将获得200个实验币。
        如果双方都选择了X，或者都选择了Y，则协作失败，你们都无法挣得实验币。</p>
    <p>为确保你对自己的选择和得失有正确的理解，请回答下面的问题：</p>
    <p>如果你选择了X而他选择了Y，
        那么你将获得<input type="number" name="q11" id="q11" style="width: 4em" autocomplete="off">个实验币，
        他将获得<input type="number" name="q12" id="q12" style="width: 4em" autocomplete="off">个实验币；</p>
    <p>如果你选择了Y而他选择了X，
        那么你将获得<input type="number" name="q21" id="q21" style="width: 4em" autocomplete="off">个实验币，
        他将获得<input type="number" name="q22" id="q22" style="width: 4em" autocomplete="off">个实验币；</p>
    <p>如果你和他都选择了X，
        那么你将获得<input type="number" name="q31" id="q31" style="width: 4em" autocomplete="off">个实验币，
        他将获得<input type="number" name="q32" id="q32" style="width: 4em" autocomplete="off">个实验币；</p>
    <p>如果你和他都选择了Y，
        那么你将获得<input type="number" name="q41" id="q41" style="width: 4em" autocomplete="off">个实验币，
        他将获得<input type="number" name="q42" id="q42" style="width: 4em" autocomplete="off">个实验币。</p>


    <input type="button" class="btn btn-primary btn-large" value="下一页" onClick="check()">
    <H2 id="feedback"></H2>


    <div {{  session.vars.is_debug |yesno:"'',hidden" }}>
        <button id="fake_next" class="btn btn-primary btn-large">跳过本页(debug)</button>
    </div>
{#   {% next_button %}#}
{% endblock %}