{% extends "informal_authority/PageBase.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block styles %}

    <!-- define a style -->
    <style type="text/css">
        .matrix {
            font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
            font-size: x-large;
            line-height: 30px;
            letter-spacing: 5px;
        {#margin:0 auto;#}
        }

    </style>


{% endblock %}


{% block scripts %}
    <script>

        var real_n0 = 0;
        var total_correct = 0;
        var local_counter = 0;

        function makeMatrix(x, y, n_0) {
            //共n个元素
            var n = x * y;

            var n_1 = n - n_0;

            var arr0 = new Array(n_0).fill(0);
            var arr1 = new Array(n_1).fill(1);

            var arr_all = arr0.concat(arr1);
            arr_all = arr_all.sort(function (a, b) {
                return Math.random() > .5 ? -1 : 1;
            });

            var matrix_html = "";

            for (var i = 0; i < n; i++) {
                matrix_html = matrix_html.concat(arr_all[i]);
                if (((i + 1) % x) == 0) {
                    matrix_html = matrix_html.concat("<br>")
                }
            }

            return (matrix_html)
        }

        function reload_matrix() {
            //0.70 ~ 0.85之际的随机数
            var x = {{ session.vars.matrix_x }};
            var y = {{ session.vars.matrix_y }};
            var n = x * y;
            var p = Math.random() * (0.55 - 0.45) + 0.45;
            var n_0 = Math.floor(p * n);
            document.getElementById("matrix").innerHTML = makeMatrix(x, y, n_0);
            real_n0 = n_0;
            document.getElementById("debug").innerHTML = "0的数量为:".concat(real_n0);
        }

        window.onload = function () {
            reload_matrix();
            update_counter_msg();
        };

        function check() {
            var ans = document.getElementById("ans").value;
            if (ans == real_n0) {
                reload_matrix();
                local_counter = 0;
                total_correct += 1;
            } else {
                local_counter++;
                if (local_counter == 3) {
                    reload_matrix();
                    local_counter = 0;
                    //update_msg("错了三次，更换")
                }
            }

            update_counter_msg();
            document.getElementById("ans").value = "";
        }

        function feedback_flash(){
            document.getElementById('feedback').style.backgroundColor = "LAVENDER";
            setTimeout(function(){ document.getElementById('feedback').style.backgroundColor = "white" }, 200);
        }

        function update_msg(msg){
            document.getElementById('feedback').innerText = msg;
            feedback_flash();
        }

        function update_counter_msg(){
            document.getElementById('counter').innerText = "总共正确：" + (total_correct) + (", ") + ("本轮尝试：") + local_counter;
            document.getElementById('id_correct').value = total_correct;
        }

    </script>

{% endblock %}

{% block content %}


    <div class="matrix" id="matrix">

    </div>

    <br>
    <H5>
        上表中有多少个0？
    </H5>

    <input type="number" name="ans" id="ans" style="width:3.6em" autocomplete="off"
           onkeydown="if(event.keyCode==13){check();return false;}">

    <input type="button" class="btn" value="提交" onClick="check()">

    <br>
    <br>
    <h5 id = "counter"></h5>

    <h6 id = "feedback"></h6>

    <div {{ session.vars.is_debug |yesno:"'',hidden" }}>
        <hr>
        <h6>Debug信息</h6>
        <div id="debug">


        </div>
        <input type="number" name="correct" value="0" id="id_correct"/>
    </div>



{% endblock %}
