{% extends "informal_authority/IdentityChoiceBase.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block content %}



    {% if is_compete %}
        <p>你完成<b>{{ correct_self }}</b>次，他完成<b>{{ correct_partner }}</b>次。</p>
        <p>因此，接下来你以<b>{{ label_self }} </b>，他以<b>{{ label_partner }}</b>身份进入下一阶段任务中。</p>
    {% else %}
        <p>你的选择是：<b>{{ choice_self }}</b>，他的选择是：<b>{{ choice_partner }}</b>。</p>
        <p>因此，你将以 <b>{{ label_self }} </b>进入下一阶段任务，他将以 <b>{{ label_partner }}</b> 进入下一阶段任务。</p>
    {% endif %}



    {% next_button %}

{% endblock %}