{% extends "informal_authority/PageBase.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}


{% block scripts %}

    <!-- define a script -->
    <script>

        function feedback_flash() {
            document.getElementById('feedback').style.backgroundColor = "LAVENDER";
            setTimeout(function () {
                document.getElementById('feedback').style.backgroundColor = "white"
            }, 200);
        }

        function check() {

            var ans00 = (document.getElementById('q00').value);
            var ans11 = (document.getElementById('q11').value);
            var ans12 = (document.getElementById('q12').value);
            var ans21 = (document.getElementById('q21').value);
            var ans22 = (document.getElementById('q22').value);

            var ans31 = (document.getElementById('id_q31_0').checked);
            {#var ans32 = (document.getElementById('q32').value);#}
            var ans41 = (document.getElementById('id_q41_1').checked);
            {#var ans42 = (document.getElementById('q42').value);#}

            {#alert(ans00 == "{{ player.label }}");#}
            var error_message = "";


            if (ans00 == "{{ player.label }}" &
                ans11 == 0 & ans12 == 0 &
                ans21 == 0 & ans22 == 0 &
                ans31 == true &
                ans41 == true  ) {
                document.getElementById("fake_next").click();

            } else {
                error_message = "你的回答不正确，请返回重新理解任务说明。";
                document.getElementById("feedback").innerHTML = error_message;
                feedback_flash();
            }

        }

    </script>


{% endblock %}

{% block content %}

    <p>在这一阶段，你的身份是“<b>{{ player.label }}</b>”，他的身份是“<b>{{ player.label_partner }}</b>”。</p>
    <p>你们的任务是，要形成“<b>主-从</b>”关系进行协作。每个人都可以从“<b>主</b>”、“<b>从</b>”两个角色中选择一个作为自己的角色。
        如果两人都选择“<b>主</b>”，或者两人都选择“<b>从</b>”，则工作协调失败，你们两人都只能得到0个实验币；
        如果一人选“<b>主</b>”而另一人选“<b>从</b>”，则工作协调成功，两人都获得一定数量的工作收益（实验币），
        但“<b>主</b>”角色获得的收益更多（或至少一样多）。</p>
    <p>你们进行工作协调的机会一共有5次。每次你们都只能选择“<b>主</b>”或“<b>从</b>”角色之一，
        每次机会的差别仅在于协作成功的收益不同（协调成功时“主”角色收益将是500～300个实验币，
        “从”角色收益将是100～300个实验币）；协作失败的收益则始终是0，在每次都不会变。</p>
    <p>每次选择之后，你和他都不会知道对方的选择。全部实验结束之后，我们才会披露你们在五次机会中的角色协调结果，
        并从五次结果中随机抽取一次结果作为向你支付报酬的依据。</p>

    <p>为确保你对实验任务确切了解，并对自己的选择和得失有正确理解，请回答下面的问题：</p>
    <p>根据第一阶段身份博弈，你进入本轮任务的身份是：<input name="q00" id="q00" style="width: 4em" autocomplete="off">。</p>
    <p>如果你选择“<b>主</b>”角色，他也选择“<b>主</b>”角色，你将获得<input type="number" name="q11" id="q11" style="width: 4em" autocomplete="off">个实验币，
        他将获得<input type="number" name="q12" id="q12" style="width: 4em" autocomplete="off">实验币。</p>
    <p>如果你选择“<b>从</b>”角色，他也选择“<b>从</b>”角色，你将获得<input type="number" name="q21" id="q21" style="width: 4em" autocomplete="off">个实验币，
        他将获得<input type="number" name="q22" id="q22" style="width: 4em" autocomplete="off">实验币。</p>
    <p>如果你选择“<b>主</b>”角色，他选择“<b>从</b>”角色，你获得实验币将比他：
        <label for="id_q31_0"><input type="radio" name="q31" value="0"
                                           id="id_q31_0"
                                           required
        />多</label>
        <label for="id_q31_1"><input type="radio" name="q31" value="1"
                                           id="id_q31_1"
                                           required
        />少</label>
    </p>
    <p>如果你选择“<b>从</b>”角色，他选择“<b>主</b>”角色，你获得实验币将比他：
        <label for="id_q41_0"><input type="radio" name="q41" value="0"
                                           id="id_q41_0"
                                           required
        />多</label>
        <label for="id_q41_1"><input type="radio" name="q41" value="1"
                                           id="id_q41_1"
                                           required
        />少</label>
    </p>


    {#    <p>为确保你对自己的选择和得失有正确的理解，请回答下面的问题：</p>#}
    {#    <p>如果你选择了X而他选择了Y，#}
    {#        那么你将获得<input type="number" name="q11" id="q11" style="width: 4em" autocomplete="off">个实验币，#}
    {#        他将获得<input type="number" name="q12" id="q12" style="width: 4em" autocomplete="off">个实验币；</p>#}
    {#    <p>如果你选择了Y而他选择了X，#}
    {#        那么你将获得<input type="number" name="q21" id="q21" style="width: 4em" autocomplete="off">个实验币，#}
    {#        他将获得<input type="number" name="q22" id="q22" style="width: 4em" autocomplete="off">个实验币；</p>#}
    {#    <p>如果你和他都选择了X，#}
    {#        那么你将获得<input type="number" name="q31" id="q31" style="width: 4em" autocomplete="off">个实验币，#}
    {#        他将获得<input type="number" name="q32" id="q32" style="width: 4em" autocomplete="off">个实验币；</p>#}
    {#    <p>如果你和他都选择了Y，#}
    {#        那么你将获得<input type="number" name="q41" id="q41" style="width: 4em" autocomplete="off">个实验币，#}
    {#        他将获得<input type="number" name="q42" id="q42" style="width: 4em" autocomplete="off">个实验币。</p>#}


    <input type="button" class="btn btn-primary btn-large" value="下一页" onClick="check()">
    <H2 id="feedback"></H2>


    <div {{ session.vars.is_debug |yesno:"'',hidden" }}>
        <button id="fake_next" class="btn btn-primary btn-large">跳过本页(debug)</button>
    </div>
    {#   {% next_button %}#}
{% endblock %}