{% extends "informal_authority/PageBase.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block content %}
    <p>本阶段任务没有报酬，但任务结果将决定你们进入下一阶段任务的身份。</p>
    <p>本阶段任务中，你和他将同时在<b>0</b>和<b>1</b>中选择一个数字。</p>
    <p>如果你和他选择的数字相同，则你将以“<b>{% block label_1 %}{% endblock %}</b>”的身份进入第二阶段任务，
        他将以“<b>{% block label_2 %}{% endblock %}</b>”的身份进入第二阶段任务；</p>
    <p>如果你和他选择的数字不同，则你将以“<b>{% block label_3 %}{% endblock %}</b>”的身份进入第二阶段任务，
        他将以“<b>{% block label_4 %}{% endblock %}</b>”的身份进入第二阶段任务。</p>

    {#    {% formfield player.choice_01 label="你的选择是?" %}#}
    <p>你的选择是？</p>
    <p>
        <tr>

            {% for choice in form.id_choice_01 %}
                <td>&nbsp;&nbsp;{{ choice }} </td>
            {% endfor %}
        </tr>
    </p>
    {% next_button %}

{% endblock %}
