{% extends "informal_authority/__PageBase.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block content %}
    <p>请填写必要的个人信息和态度调查问卷，我们确保以下信息不会追踪到个人并完全保密，请放心并如实填写。</p>

    <br>
    1. {% formfield player.sur_birth_year %}{% formfield player.sur_birth_month %}
    <br>
    2. {% formfield player.sur_gender %}
    <br>
    3. {% formfield player.sur_grade %}
    <br>
    4. {% formfield player.sur_school %}
    <br>
    5. {% formfield player.sur_party_member %}
    <br>
    6. {% formfield player.sur_student_leader %}
    <br>

    <hr>
    7. 假若你和你的同学可以选择如下三个收益不同的项目进行合作，你愿意选择哪个项目？
    <table class="table">
        <tr>
            <th></th>
            <th>项目1</th>
            <th>项目2</th>
            <th>项目3</th>
        </tr>
        <tr>
            <td>你将从项目中获得</td>
            <td>100元</td>
            <td>100元</td>
            <td>100元</td>
        </tr>
        <tr>
            <td>你的同学将从项目中获得</td>
            <td>80元</td>
            <td>100元</td>
            <td>120元</td>
        </tr>
    </table>
    {% formfield player.sur_project_01 %}
    <br>
    <hr>
    8. 假若你和一个陌生人可以选择如下三个收益不同的项目进行合作，你愿意选择哪个项目？
    <table class="table">
        <tr>
            <th></th>
            <th>项目1</th>
            <th>项目2</th>
            <th>项目3</th>
        </tr>
        <tr>
            <td>你将从项目中获得</td>
            <td>100元</td>
            <td>100元</td>
            <td>100元</td>
        </tr>
        <tr>
            <td>陌生人将从项目中获得</td>
            <td>80元</td>
            <td>100元</td>
            <td>120元</td>
        </tr>
    </table>
    {% formfield player.sur_project_02 %}
    <br>
    <hr>
    9. 假若你和你的同学可以选择如下三个收益不同的项目进行合作，你愿意选择哪个项目？
    <table class="table">
        <tr>
            <th></th>
            <th>项目1</th>
            <th>项目2</th>
            <th>项目3</th>
        </tr>
        <tr>
            <td>你将从项目中获得</td>
            <td>100元</td>
            <td>120元</td>
            <td>110元</td>
        </tr>
        <tr>
            <td>你的同学将从项目中获得</td>
            <td>100元</td>
            <td>80元</td>
            <td>120元</td>
        </tr>
    </table>
    {% formfield player.sur_project_03 %}
    <br>
    <hr>
    10. 假若你和一个陌生人可以选择如下三个收益不同的项目进行合作，你愿意选择哪个项目？
    <table class="table">
        <tr>
            <th></th>
            <th>项目1</th>
            <th>项目2</th>
            <th>项目3</th>
        </tr>
        <tr>
            <td>你将从项目中获得</td>
            <td>100元</td>
            <td>120元</td>
            <td>110元</td>
        </tr>
        <tr>
            <td>陌生人将从项目中获得</td>
            <td>100元</td>
            <td>80元</td>
            <td>120元</td>
        </tr>
    </table>
    {% formfield player.sur_project_04 %}
    <br>
    <hr>
    11. 假如你的同学和一个陌生人进行合作，
    你可以决定他们的收益分配方案（他们也必须决接受你的分配方案），那么你会选择哪一个分配方案？
    <table class="table">
        <tr>
            <th></th>
            <th>项目1</th>
            <th>项目2</th>
            <th>项目3</th>
        </tr>
        <tr>
            <td>你的同学将获得</td>
            <td>100元</td>
            <td>120元</td>
            <td>110元</td>
        </tr>
        <tr>
            <td>陌生人将获得</td>
            <td>100元</td>
            <td>80元</td>
            <td>120元</td>
        </tr>
    </table>
    {% formfield player.sur_project_05 %}
    {% next_button %}
{% endblock %}
