{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block app_styles %}

    <style type="text/css">
        p {
            text-indent: 2em
        }
    </style>

    <!-- define a style -->
    <style type="text/css">
        .matrix {
            font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
            font-size: x-large;
            line-height: 30px;
            letter-spacing: 5px;
        {#margin:0 auto;#}
        }

    </style>


{% endblock %}
