{% extends "Coase/_PageBase.html" %}
{% load otree static %}

{% block title %}
    第 {{ group.subgame_counter }} 轮谈判
{% endblock %}

{% block content %}

    {% if group.init_property == 'corp' %}
        <p>居民至少需要补偿给你
            <input type="number" name="corp_price" min="0" max="10" required id="id_corp_price"/>
            元（请填整数），你才会放弃开办新工厂？
        </p>

    {% else %}
        <p>你最多愿意补偿给居民
            <input type="number" name="corp_price" min="0" max="10" required id="id_corp_price"/>
            元（请填整数），才可以开办新工厂？
        </p>
    {% endif %}

    {% next_button %}
    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}
