{% extends "Coase/__PageBase.html" %}
{% load otree static %}

{% block title %}
    第 {{ group.subgame_counter }} 轮谈判
{% endblock %}

{% block content %}

    {% if player.treatment == 'corp_1' %}
        <p><b>企业已经从相关部门获得在该土地上开办工厂的许可。</b></p>

        {% include 'Coase/_GameTable_corp_1.html' %}

        <p>为了让企业停办工厂，你愿意提供Y等于
            <input type="number" name="price" min="0" max="{{ session.vars.high_value }}" required id="id_price"/>代币补偿（请填整数）。
        </p>

    {% elif player.treatment == 'corp_3' %}
        <p><b>企业已经从相关部门获得在该土地上开办工厂的许可。</b></p>

        {% include 'Coase/_GameTable_corp_3.html' %}

        <p>为了让企业停办工厂，你愿意提供Y1等于
            <input type="number" name="price" min="0" max="{{ session.vars.high_value }}" required id="id_price"/>代币补偿（请填整数）。
        </p>

    {% elif player.treatment == 'res_1' %}
        <p><b>相关部门规定必须经居民同意后企业才能在该土地上开办工厂。</b></p>

        {% include 'Coase/_GameTable_res_1.html' %}

        <p>你将索取补偿金额Y等于
            <input type="number" name="price" min="0" max="{{ session.vars.high_value }}" required id="id_price"/>代币（请填整数），你才会同意开办工厂。
        </p>

    {% else %}
        <p><b>相关部门规定必须经居民同意后企业才能在该土地上开办工厂。</b></p>

        {% include 'Coase/_GameTable_res_3.html' %}

        <p>你将索取补偿金额Y1等于
            <input type="number" name="price" min="0" max="{{ session.vars.high_value }}" required id="id_price"/>代币（请填整数），你才会同意开办工厂。
        </p>

    {% endif %}


    {% next_button %}
    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}
