{% extends "Coase/_PageBase.html" %}
{% load otree static %}

{% block title %}
    实验说明
{% endblock %}

{% block content %}
    <p>现在我们开始实验任务。系统已随机为你指派对手。</p>
    <p>你现在是一家企业的负责人，要用一块土地开办新工厂。
        <!--插入产权归属-->
        {% if group.init_property == 'corp' %}
            <b>现在你已经从相关部门获得在该土地上开办新工厂的许可。</b>
        {% else %}
            <b>相关部门规定必须经遭受损害的居民同意后企业才能开办新工厂。</b>
        {% endif %}

        开办新工厂将为你带来{{ session.vars.corp_profit }}元的净利润，同时也会对附近居民的土地造成一定损害。

        <!--插入居民损害计算-->
        {% if group.res_number == 1 %}
            新增的损害会让居民福利受损，居民遭受的损失为{{ session.vars.res_loss }}元。
        {% else %}
            新增的损害会让附近3个居民福利受损，3个居民遭受的损失总共为{{ session.vars.res_loss }}元，
            每个居民遭受的损失均为{{ session.vars.res_loss_one_third }}元。
        {% endif %}
    </p>


    <!--插入提出谈判-->
    {% if group.init_property == 'corp' %}
        <p>现在居民向你提出：请你放弃开办此新工厂，并且他愿意为你停办新工厂的机会损失给予一定的补偿。</p>
        <p>现在你们有5轮谈判机会。每一轮，你提出需要得到多少元补偿才放弃开办新工厂，
            居民则提出为了让你放弃开办新工厂而给予你多少元补偿。</p>

    {% else %}
        <p>现在若你想继续开办新工厂，需要对居民的损失给予一定的补偿。</p>
        <p>现在你们有5轮谈判机会。每一轮，你提出为开办新工厂愿意给居民多少元补偿，
            居民则提出需要得到多少元补偿才同意你开办新工厂。
        </p>
    {% endif %}


    <!--插入谈判条件-->
    {% if player.treatment == 'corp_1' %}
        <p>当你要求的补偿金额不高于（可以低于或等于）居民愿意给你的补偿金额时，则谈判成功；否则，谈判失败。</p>

    {% elif player.treatment == 'corp_3' %}
        <p>3个居民愿意给出的补偿金额的总和为居民方的出价。当你要求的补偿金额不高于（可以低于或等于）
            居民方的出价时，则谈判成功；否则，谈判失败。</p>

    {% elif player.treatment == 'res_1' %}
        <p>当你愿意给居民的补偿金额不低于（可以高于或等于）居民期望得到的补偿金额时，
            则谈判成功；否则，谈判失败。</p>

    {% else %}
        <!-- treatment == res_3 -->
        <p>3个居民期望得到的补偿金额的总和为居民方的要价。当你愿意补偿给居民的金额不低于（可以高于或等于）居民方的要价时，
            则谈判成功；否则，谈判失败。</p>
    {% endif %}


    <!--插入谈判结果-->
    <p>
        <list>
            {% if group.init_property == 'corp' %}
                <li> 若谈判成功，则你放弃开办新工厂，同时你获得自己索取的补偿金额；</li>
                <li> 若谈判失败，则你开办新工厂，获得开办新工厂的净利润{{ session.vars.corp_profit }}元。</li>

            {% else %}
                <li> 若谈判成功，则你可以开办新工厂，获得开办新工厂的净利润{{ session.vars.corp_profit }}元，同时支付你的补偿金额；</li>
                <li> 若谈判失败，则你不能开办新工厂。</li>

            {% endif %}
    </list>
    </p>


    <p>这5轮谈判将序贯进行，每次都会公布你们的要价/出价和谈判是否成功的信息。</p>
    <p>电脑将在5轮结果中随机抽取1轮的结果作为兑付真实现金报酬的依据。但抽取的结果将在全部实验结束后再公布。</p>

    {% next_button %}
    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}


