{% extends "Coase/__PageBase.html" %}
{% load otree static %}

{% block title %}
    实验说明
{% endblock %}

{% block content %}
    <p>现在我们开始实验任务。系统已随机为你指派对手。</p>
    <p>你现在是1家企业的负责人，你与{{ group.res_number }}个居民配对。
        现在有一块空地，若用于企业开办工厂，将会为企业带来


        <!-- 插入企业利润 -->
        <span style="color:#ff0000">
            {% if group.init_property == 'corp' %}
                {{ session.vars.low_value }}
            {% else %}
                {{ session.vars.high_value }}
            {% endif %}
        </span>
        代币的利润；若不用于企业开办工厂，

        <!-- 插入居民效用 -->
        {% if player.treatment == 'corp_1' %}
            其良好的环境将为居民带来总价值为<!-- 变量：high_value --><span style="color:#ff0000">{{ session.vars.high_value }}</span>代币的效用。

        {% elif player.treatment == 'corp_3' %}
            其良好的环境将为居民带来总价值为<!-- 变量：high_value --><span style="color:#ff0000">{{ session.vars.high_value }}</span>代币的效用，
            每个居民的将获得价值为<!-- 变量：high_value/3 -->
            <span style="color:#ff0000">{{ session.vars.high_value_one_third }}</span>代币的效用。

        {% elif player.treatment == 'res_1' %}
            其良好的环境将为居民带来总价值为<!-- 变量：low_value --><span style="color:#ff0000">{{ session.vars.low_value }}</span>代币的效用。

        {% else %}
            <!-- treatment == res_3 -->
            其良好的环境将为居民带来总价值为<!-- 变量：low_value --><span style="color:#ff0000">{{ session.vars.low_value }}</span>代币的效用，
            每个居民的将获得价值为<!-- 变量：low_value/3 -->
            <span style="color:#ff0000">{{ session.vars.low_value_one_third }}</span>代币的效用。
        {% endif %}


    </p>

    <!-- 插入产权归属 -->
    <p>
        {% if group.init_property == 'corp' %}
            <b>企业已经从相关部门获得在该土地上开办工厂的许可。</b>
        {% else %}
            <b>相关部门规定必须经居民同意后企业才能在该土地上开办工厂。</b>
        {% endif %}

    </p>

    <!-- 插入提出谈判 -->
    {% if player.treatment == 'corp_1' %}
        <p>居民向你提出：请你停办工厂，并且愿意为此提供一定经济补偿。</p>
        <p>你们有5轮谈判机会。每一轮，你索取停办工厂的补偿X代币，居民提供停办工厂的补偿Y代币。</p>

    {% elif player.treatment == 'corp_3' %}
        <p>居民向你提出：请你停办工厂，并且愿意为此提供一定经济补偿。</p>
        <p>你们有5轮谈判机会。每一轮，你索取停办工厂的补偿X代币，3个居民分别向你提供停办工厂的补偿金额Y1,Y2,Y3代币。</p>


    {% elif player.treatment == 'res_1' %}
        <p>若你选择开办工厂，需要对居民的损失给予一定的补偿，以获得居民的同意。</p>
        <p>你们有5轮谈判机会。每一轮，你为开办工厂提出为居民补偿X代币，居民同意你开办工厂索取补偿Y代币。</p>


    {% else %}
        <!-- treatment == res_3 -->
        <p>若你选择开办工厂，需要对全体居民的损失给予一定的补偿，以获得全体居民的同意。</p>
        <p>你们有5轮谈判机会。每一轮，你为开办工厂提出给予全体居民总补偿X代币，3个居民同意开办工厂而分别索取金额Y1,Y2,Y3代币。</p>

    {% endif %}


    <!-- 插入谈判条件 -->
    {% if player.treatment == 'corp_1' %}
        <p>当你索取的补偿金额低于或等于居民提供的金额时（X<=Y），则谈判成功；否则，谈判失败。</p>

    {% elif player.treatment == 'corp_3' %}
        <p>当你索取的补偿金额低于或等于3个居民提供的补偿总金额时（X<=Y1+Y2+Y3），则谈判成功；否则，谈判失败。</p>

    {% elif player.treatment == 'res_1' %}
        <p>当你提供给居民的补偿金额高于或等于居民索取的补偿金额时（X>=Y），则谈判成功；否则，谈判失败。</p>

    {% else %}
        <!-- treatment == res_3 -->
        <p>当你提供的补偿总金额高于或等于3个居民索取的总金额时（X>=Y1+Y2+Y3）时，则谈判成功；否则，谈判失败。</p>
    {% endif %}


    <!-- 插入谈判结果-->
    <p>
        <list>
            {% if group.init_property == 'corp' %}
                <li>若谈判成功，则你停办工厂，同时获得索取的补偿X代币，你的净收益为：X代币；</li>
                <li>若谈判失败，则你开办工厂，获得开办工厂的利润<!-- 变量：low_value -->{{ session.vars.low_value }}代币，
                    你的净收益为：<!-- 变量：low_value -->{{ session.vars.low_value }}代币。</li>
            {% else %}
                <li>若谈判成功，则你开办工厂，获得开办工厂的利润<!-- 变量：high_value -->{{ session.vars.high_value }}代币，
                    同时向居民支付补偿金额X代币，你的净收益为：<!-- 变量：high_value -->{{ session.vars.high_value }} - X；
                </li>
                <li>若谈判失败，则你不能开办工厂，你的净收益为：0。</li>
            {% endif %}
        </list>
    </p>


    <p>这5轮谈判将序贯进行，每一轮的X和Y以及谈判的结果都会及时公布。</p>
    <p>电脑将在所有实验结果中随机抽取3轮的结果作为兑付现金报酬的依据。但抽取的结果将在全部实验结束后再公布。</p>

    {% next_button %}
    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}


