{% extends "Coase/_PageBase.html" %}
{% load otree static %}

{% block title %}
    实验说明
{% endblock %}

{% block content %}
    <p>欢迎参加实验。现在我们开始第一个实验任务。</p>
    <p>你现在是一个居民。

        <!--插入居民数量-->
        {% if group.res_number == 1 %}
            你的土地旁边要建一个企业的工厂。
        {% else %}
            你和另外两名居民的土地旁边要建一个企业的工厂。
        {% endif %}

        <!--插入产权归属-->
        {% if group.init_property == 'corp' %}
            <b>企业已经从相关部门获得在该土地上开办新工厂的许可。</b>
        {% else %}
            <b>相关部门规定必须经遭受损害的居民同意后企业才能开办新工厂。</b>
        {% endif %}

        开办新工厂将为企业带来X元的净利润，同时也会对你的土地造成一定损害。

        <!--插入居民损害计算-->
        {% if group.res_number == 1 %}
            新增的损害会让你的福利受损，你将遭受的损失为Y元。
        {% else %}
            新增的损害会让你们三个居民的福利受害，你们三个将遭受的总损失为Y元，你们每个人将遭受的损失均为Y/3元。
        {% endif %}

    </p>

    <!--插入提出谈判-->
    {% if group.init_property == 'corp' %}
        <p>如果你想让企业放弃开办此新工厂，你需要为企业停办新工厂的损失给予一定的补偿。</p>
        <p>现在你们有5轮谈判机会。每一轮，你提出愿意给予企业多少元的补偿让其放弃开办新工厂，
            企业则提出需要得到多少元补偿才放弃开办新工厂。</p>

    {% else %}
        <p>现在企业向你提出：请你同意开办此新工厂，并且他愿意为新工厂给你造成的损失给予一定的补偿。</p>
        <p>现在你们有5轮谈判机会。每一轮，你提出需要得到多少元补偿才同意企业开办新工厂，
            企业提出为开办新工厂愿意给你多少元补偿。</p>

    {% endif %}


    <!--插入谈判条件-->
    {% if player.treatment == 'corp_1' %}
        <p>当你给予的补偿不低于（高于或等于）企业期望得到的补偿金额时，则谈判成功；否则，谈判失败。</p>

    {% elif player.treatment == 'corp_3' %}
        <p>3个居民愿意给予补偿的金额的总和作为居民方的出价。当你们的总出价不低于（高于或等于）企业期望得到的补偿金额时，
            则谈判成功；否则，谈判失败。</p>

    {% elif player.treatment == 'res_1' %}
        <p>当你期望的补偿金额不高于（低于或等于）企业愿意给予的补偿金额时，则谈判成功；否则，谈判失败。</p>

    {% else %}
        <!-- treatment == res_3 -->
        <p>3个居民期望的补偿金额的总和作为居民方的要价。当居民方的要价不高于（低于或等于）企业愿意给予的补偿的金额时，
            则谈判成功；否则，谈判失败。</p>
    {% endif %}


    <!--插入谈判结果-->
    <p>
        <list>
            {% if player.treatment == 'corp_1' %}
                <li>若谈判成功，则企业放弃开办新工厂，你需要支付给企业你的出价；</li>
                <li>若谈判失败，则企业开办新工厂，你将遭受Y元的损失。</li>


            {% elif player.treatment == 'corp_3' %}
                <li>若谈判成功，则企业放弃开办新工厂，你需要支付给企业你的出价；</li>
                <li>若谈判失败，则企业开办新工厂，你们3个居民将遭受共Y元的损失，每个居民将遭受Y/3元的损失。</li>

            {% elif player.treatment == 'res_1' %}
                <li>若谈判成功，则企业可以开办新工厂，你将遭受Y元的损失，同时获得企业补偿的金额；</li>
                <li>若谈判失败，则企业不能开办新工厂。</li>

            {% else %}
                <!-- treatment == res_3 -->
                <li>
                    若谈判成功，则企业可以开办新工厂，你将遭受Y/3元的损失，
                    同时你将获得企业支付的补偿额的一部分（根据你们三个居民的要价按比例分配，比如若你提出的补偿金额为li1，
                    第二个居民要求的补偿金额为li2，第三个居民要求的补偿金额为li3，则你获得企业补偿的比例为li1/（li1+li2+li3））；
                </li>
                <li>若谈判失败，则企业不能开办新工厂。</li>

            {% endif %}

        </list>
    </p>

    <p>这5轮谈判将序贯进行，每次都会公布你们的要价/出价和谈判是否成功的信息。</p>
    <p>电脑将在5轮结果中随机抽取1轮的结果作为兑付真实现金报酬的依据。但抽取的结果将在全部实验结束后再公布。</p>


    {% next_button %}
    {% include 'Coase/DebugBlock.html' %}
{% endblock %}


