{% extends "Coase/_PageBase.html" %}
{% load otree static %}

{% block title %}
    实验说明
{% endblock %}

{% block content %}
    <p>现在我们开始实验任务。系统已随机为你指派对手。</p>
    <p>你现在是一个居民，
        <!-- 插入居民数量 -->

        {% if group.res_number == 1 %}
            你与一个企业配对。
        {% else %}
            你与另外两个居民和1个企业配对。
        {% endif %}

        现在有一块空地，若用于企业开办工厂，将会为企业带来

        <!-- 插入企业利润 -->
        <span style="color:#ff0000">
        {% if group.init_property == 'corp' %}
            {{ session.vars.low_value }}
        {% else %}
            {{ session.vars.high_value }}
        {% endif %}
        </span>
        代币的利润；若不用于企业开办工厂，

        <!-- 插入居民效用 -->
        {% if player.treatment == 'corp_1' %}
            其良好的环境将为居民带来总价值为<!-- 变量：high_value --><span style="color:#ff0000">{{ session.vars.high_value }}</span>代币的效用。

        {% elif player.treatment == 'corp_3' %}
            其良好的环境将为居民带来总价值为<!-- 变量：high_value --><span style="color:#ff0000">{{ session.vars.high_value }}</span>代币的效用，
            每个居民将获得价值<!-- 变量：high_value/3 -->
            <span style="color:#ff0000">{{ session.vars.high_value_one_third }}</span>代币的效用。

        {% elif player.treatment == 'res_1' %}
            其良好的环境将为居民带来总价值为<!-- 变量：low_value --><span style="color:#ff0000">{{ session.vars.low_value }}</span>代币的效用。

        {% else %}
            <!-- treatment == res_3 -->
            其良好的环境将为居民带来总价值为<!-- 变量：low_value --><span style="color:#ff0000">{{ session.vars.low_value }}</span>代币的效用，
            每个居民将获得价值<!-- 变量：low_value/3 --><span style="color:#ff0000">{{ session.vars.low_value_one_third }}</span>
            代币的效用。
        {% endif %}

    </p>

    <!-- 插入产权归属 -->
    <p>
        {% if group.init_property == 'corp' %}
            <b>企业已经从相关部门获得在该土地上开办工厂的许可。</b>
        {% else %}
            <b>相关部门规定必须经居民同意后企业才能在该土地上开办工厂。</b>
        {% endif %}
    </p>


    <!-- 插入提出谈判 -->
    {% if player.treatment == 'corp_1' %}
        <p>若你想让企业停办工厂，你需要为此提供一定经济补偿。</p>
        <p>你们有5轮谈判机会。每一轮，你提出愿意补偿企业Y代币，企业会为停办工厂索取X代币。</p>

    {% elif player.treatment == 'corp_3' %}
        <p>若你想让企业停办工厂，你和另外两个居民需要为此提供一定经济补偿。</p>
        <p>你们有5轮谈判机会。每一轮，你提出自己愿意补偿企业Y1代币，另外两位居民将提出他们愿意给企业的补偿金额Y2，Y3代币；企业会为停办工厂索取X代币。</p>


    {% elif player.treatment == 'res_1' %}
        <p>企业向你提出：请你同意开办此工厂，并且愿意为此向你提供一定的经济补偿。</p>
        <p>你们有5轮谈判机会。每一轮，你提出同意开办工厂索取的金额Y代币，企业提出为开办工厂而补偿的金额X代币。</p>


    {% else %}
        <!-- treatment == res_3 -->
        <p>企业向你们提出：请你们同意开办此工厂，并且愿意为此向你们提供一定的经济补偿。</p>
        <p>你们有5轮谈判机会。每一轮，你提出自己同意开办工厂索取的金额Y1代币，另外两名居民分别提出他们同意开办工厂索取的金额Y2，Y3代币；企业提出为开办工厂而补偿的总金额X代币。</p>

    {% endif %}

    <!-- 插入谈判条件 -->
    {% if player.treatment == 'corp_1' %}
        <p>当你提供的补偿金额高于或等于企业索取的补偿高金额时（Y>=X），则谈判成功；否则，谈判失败。</p>

    {% elif player.treatment == 'corp_3' %}
        <p>当你们3个居民提供的补偿总金额高于或等于企业索取的补偿金额时（Y1+Y2+Y3>=X），则谈判成功；否则，谈判失败。</p>

    {% elif player.treatment == 'res_1' %}
        <p>当你索取的补偿金额低于或等于企业提供的补偿金额时（Y<=X），则谈判成功；否则，谈判失败。</p>

    {% else %}
        <!-- treatment == res_3 -->
        <p>当你们3个居民索取的补偿总金额低于或等于企业提供的补偿总金额（Y1+Y2+Y3<=X）时，则谈判成功；否则，谈判失败。</p>
    {% endif %}


    <!-- 插入谈判结果 -->
    <p>
        <list>
            {% if player.treatment == 'corp_1' %}
                <li>若谈判成功，则企业停办工厂，你向企业支付你的补偿金额Y代币，
                    同时获得环境带来的价值<!-- 变量：high_value -->{{ session.vars.high_value }}代币，
                    你的净收益为：<!-- 变量：high_value -->{{ session.vars.high_value }} - Y；
                </li>
                <li>若谈判失败，则企业开办工厂，你的净收益为：0。</li>


            {% elif player.treatment == 'corp_3' %}
                <li>若谈判成功，则企业放弃开办工厂，你向企业支付你的补偿金额Y1代币，
                    同时获得环境带来的价值<!-- 变量：high_value / 3 -->{{ session.vars.high_value_one_third }}代币的效用，
                    你的净收益为：<!-- 变量：high_value / 3 -->{{ session.vars.high_value_one_third }} - Y1；
                </li>
                <li>若谈判失败，则企业开办工厂，你的净收益为：0。</li>

            {% elif player.treatment == 'res_1' %}
                <li>若谈判成功，则企业开办工厂，你从环境中得到价值0代币，同时从企业获得补偿金额Y代币，你的净收益为：Y代币；
                </li>
                <li>若谈判失败，则企业不能开办工厂，
                    你从环境获得的价值<!-- 变量：low_value -->{{ session.vars.low_value }}代币，
                    你的净收益为：<!-- 变量：low_value -->{{ session.vars.low_value }}。
                </li>

            {% else %}
                <!-- treatment == res_3 -->
                <li>若谈判成功，则企业开办工厂，你从环境中得到价值0代币，同时从企业获得补偿金额Y1，你的净收益为：Y1代币。
                </li>
                <li>若谈判失败，则企业不能开办工厂，
                    你从环境获得的价值<!-- 变量：low_value / 3 -->{{ session.vars.low_value_one_third }},
                    你的净收益为：<!-- 变量：low_value / 3 -->{{ session.vars.low_value_one_third }}。
                </li>

            {% endif %}

        </list>
    </p>

    <p>这5轮谈判将序贯进行，每一轮的X和Y以及谈判的结果都会及时公布。</p>
    <p>电脑将在5轮结果中随机抽取1轮的结果作为兑付现金报酬的依据。但抽取的结果将在全部实验结束后再公布。</p>


    {% next_button %}
    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}


