{% extends "Coase/PageBase.html" %}
{% load otree static %}

{% block title %}
    导言
{% endblock %}

{% block content %}
    <p>欢迎参加实验。现在我们开始第一个实验任务。</p>
    <p>你现在是一个居民。
        <!--插入居民数量-->
        <!--插入产权归属-->
        开办新工厂将为企业带来X元的净利润，同时也会对你的土地造成一定损害。

        <!--插入居民损害计算--></p>

    <!--插入提出谈判-->
    <!--插入谈判条件-->
    <!--插入谈判结果-->
    <p>这5轮谈判将序贯进行，每次都会公布你们的要价/出价和谈判是否成功的信息。</p>
    <p>电脑将在5轮结果中随机抽取1轮的结果作为兑付真实现金报酬的依据。但抽取的结果将在全部实验结束后再公布。</p>


    {% next_button %}
    {% include 'Coase/DebugBlock.html' %}
{% endblock %}


