{% extends "Coase/_PageBase.html" %}
{% load otree static %}

{% block title %}
    导言
{% endblock %}

{% block content %}
    <p>在本场实验中，你将完成六个任务和一份调查问卷。均在电脑上完成。</p>
    <p>六个任务被分为三组，任务1和任务2是第一组，任务3和任务4是第二组，任务5和任务6是第三组。</p>

    <p>在每一组任务中，你将被随机指派担任“企业”或“居民”两个角色之一，并且在该组的两个任务中角色保持不变，
        在任务1和任务2中，你的角色是相同的；任务3和任务4中，你的角色也是相同的；在任务5和任务6中，你的角色也是相同的。</p>

    <p>但是，在每一个任务中，你的对手都是随机指派的。也就是说，在每一个任务中，你的对手将是不同的。
        即便在同一组的两个任务中（比如第一组的任务1和任务2），你的对手也是不同的。</p>

    <p>六个任务的具体内容，将在每个任务开始时再详细说明。</p>

    <p>
        完成全部任务的总耗时预计不会超过40分钟。每个人所花的时间也可能因完成速度不同而略有差异。
        先完成的同学请在座位耐心等待其他参与者完成，不要干扰其他参与者。只有全部参与者完成所有实验任务后，
        电脑才会反馈每个人在实验中的成绩表现并计算出你应得的报酬。</p>

    <p>现在，请有问题的同学举手示意，我们的实验人员将到你面前解答。若没有同学举手，我们就进入正式的实验环节。</p>



    {% next_button %}

    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}


