{% extends "Coase/_PageBase.html" %}
{% load otree static %}

{% block title %}
    导言
{% endblock %}

{% block content %}

    <p>在本场实验中，你将完成六个任务和一份调查问卷。均在电脑上完成。
        每个任务中你都要担任企业或居民的角色，并与现场的其他参与者随机配对组成一组。
        每两个任务后你的角色会重新随机分配。即在第1个和第2个任务中你的角色相同但对手不同，
        第3个和第4个任务中你的角色相同但对手不同，第5个和第6个任务中你的角色相同但对手不同。
        六个任务的具体内容，将在每个任务开始时再详细说明。</p>

    <p>完成六个任务的总耗时预计不会超过40分钟。每个人所花的时间也可能完成速度不同而略有差异。
        先完成的同学请在座位耐心等待其他参与者完成，不要干扰其他参与者。只有全部参与者完成所有实验任务后，
        电脑才会反馈每个人在实验中的成绩表现并计算出你应得的报酬。</p>

    <p>现在，请有问题的同学举手示意，我们的实验人员将到你面前解答。若没有同学举手，我们就进入正式的实验环节。</p>


    {% next_button %}

    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}


