{% extends "Coase/_PageBase.html" %}
{% load otree static %}

{% block title %}
    谈判结果
{% endblock %}

{% block content %}
    <p>第<!--插入轮次-->{{ group.subgame_counter }}轮谈判达成/未达成。</p>

    {% if group.init_property == 'corp' %}

        <p>你期望获得的补偿为____元，居民愿意给予的补偿是_____元。</p>
        <p>你在本轮的最终收益为____元。</p>

    {% else %}

        <p>你愿意给予的补偿为____元，居民期望获得的补偿是_____元。</p>
        <p>你在本轮的最终收益为____元。</p>

    {% endif %}

    {% next_button %}
    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}


