{% extends "Coase/__PageBase.html" %}
{% load otree static %}

{% block title %}
    结果
{% endblock %}

{% block content %}
    <p>电脑在6个任务总共30轮中随机抽取了3轮，并根据这3轮的结果的总和来支付实验报酬。</p>
    <p>
        这3轮分别是：{{ pay_rounds_str }}
    </p>

    <p>
        所获得代币分别是：{{ player.profit_list_str }}，总和是{{ player.total_profit }}
    </p>

    <p>
        出场费为{{ session.vars.participation_fee }}元，因此你报酬为{{ player.payoff }}元。
    </p>



    {% next_button %}

    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}


