{% extends "Coase/__PageBase.html" %}
{% load otree static %}

{% block title %}
    第{{ group.subgame_counter }}轮谈判结果
{% endblock %}

{% block content %}
    <p>第<!--插入轮次-->{{ group.subgame_counter }}轮谈判
        {% if player.deal %}
            成功
        {% else %}
            失败
        {% endif %}
        。</p>

    {% if player.treatment == 'corp_1' %}
        <p>你提供的补偿为<!-- 变量：居民决策 -->{{ player.price }}代币，
            企业索取的补偿是<!-- 变量：企业决策 -->{{ player.counterpart_price_total }}代币。</p>
        <p>你在本轮的最终收益为<!-- 变量：居民收益 -->{{ player.profit }}代币。</p>

    {% elif player.treatment == 'corp_3' %}

        <p>你提供的补偿为<!-- 变量：居民决策 -->{{ player.price }}代币，
            你和另外两名居民提供的补偿分别为{{ player.price_list }}代币。</p>
        <p>你们提供补偿的总金额为<!-- 变量：居民决策 -->{{ player.price_total }}代币。
            企业索取的补偿是<!-- 变量：企业决策 -->{{ player.counterpart_price_total }}代币。</p>
        <p>你在本轮的最终收益为<!-- 变量：居民收益 -->{{ player.profit }}代币。</p>

    {% elif player.treatment == 'res_1' %}
        <p>你索取的补偿为<!-- 变量：居民决策 -->{{ player.price }}代币，
            企业提供的补偿是<!-- 变量：企业决策 -->{{ player.counterpart_price_total }}代币。</p>
        <p>你在本轮的最终收益为<!-- 变量：居民收益 -->{{ player.profit }}代币。</p>

    {% else %}
        <p>你索取的补偿为<!-- 变量：居民决策 -->{{ player.price }}代币，
            你和另外两名居民索取的补偿分别为{{ player.price_list }}代币。</p>
        <p>你们索取补偿的总金额为<!-- 变量：居民决策 -->{{ player.price_total }}代币。
            企业提供的补偿是<!-- 变量：企业决策 -->{{ player.counterpart_price_total }}代币。</p>
        <p>你在本轮的最终收益为<!-- 变量：居民收益 -->{{ player.profit }}代币。</p>

    {% endif %}
    {% next_button %}
    {% include 'Coase/_DebugBlock.html' %}
{% endblock %}


