{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    彩票决策介绍
{% endblock %}

{% block content %}
    <p>根据之前的努力，您已经通过游戏获得400代币。</p>



    <p>
            您将用这400代币进行如下决策，共12轮彩票决策，每轮13组，选项A和选项B都是代表一定概率的损失。
        </p>
        <p>
            当您完成12轮彩票决策，最终计算机将随机抽取某轮中某组您的彩票决策，并在400代币的基础上予以扣除，扣除后的结果为您的最终收益。
        </p>
        <p>【请注意! A选项数值在每一轮中有所不同，但在同一轮中数值是保持不变的; 对于每一轮，B选项因组而异。 因此，请仔细阅读决策时提供给您的选项！】
        </p>
<p>您的决策将决定您的收益，请认真作答，谢谢！</p>
<img src="{% static '1.jpg' %}"/>
<p>
   请按【下一页】开始决策选择
</p>
    {% next_button %}

{% endblock %}