{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    最终结果
{% endblock %}

{% block content %}


    <p>
        第一轮游戏中，你正确编码了<b>{{ player.correct_01 }}</b>个汉字。<br>
        比赛结果是：<b>{{ player.result_01 }}</b>。<br>
        本轮得分是<b>{{ player.profit_01 }}</b>分。
    </p>


    <p>
        第二轮游戏中，你正确编码了<b>{{ player.correct_02 }}</b>个汉字。<br>
        你给自己设定的目标是<b>{{ player.target_02 }}</b>个汉字。<br>
        你<b>
        {% if player.correct_02 >= player.target_02  %}
            实现了
        {% else %}
            没有实现
        {% endif %}
        </b>自己的目标。<br>
        本轮得分是<b>{{ player.profit_02 }}</b>分。
    </p>

    <p>
        第三轮游戏中，你正确编码了<b>{{ player.correct_03 }}</b>个汉字。<br>
        你选择了

        {% if player.will_compete_03 == True  %}
            <b>进行比赛</b> <br>
            你比赛的结果是<b>{{ player.result_03 }}</b>。
        {% else %}
            <b>不进行比赛</b>
        {% endif %}
        <br>

        本轮得分是<b>{{ player.profit_03 }}</b>分。 <br>
    </p>
    <hr>
    <p>
        电脑随机抽取了第<b>{{ player.pay_round }}</b>轮来计算你的最终得分，你的最终报酬是<b>{{ player.payoff }}</b>

    </p>

{% endblock %}


