{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    实验说明
{% endblock %}

{% block content %}
    <p>
          欢迎您参加本次经济学实验。请认真阅读以下说明。
    </p>

    <p>
          本次实验包括主实验和问卷两部分，持续时间约30分钟。实验报酬分为两部分：实验出场费15元以及主实验所得。
    </p>

    <p>
        主实验共包含两项任务。
    </p>
    <p>
        任务一：通过努力在数零游戏中挣取一笔财富。
    </p>

    <p>
        任务二：利用任务一中挣取的财富，进行12轮彩票决策，每轮13组。
    </p>
    <p>
        最终计算机将随机抽取某轮中某组彩票决策进行计算，结果即为主实验所得。
    </p>

<p>
   请按【下一页】
</p>





    {% next_button %}

{% endblock %}